@-webkit-keyframes bump{
  0%, 100% {
    top:0px;
  }
  50%{
    top:8px;
  }
}

.results{
  transition: background 0.08s ease-in-out;
}

.results:hover{
  background: #BDCAE6;
}

.options {
  color: rgba(205,205,205,1);
  display:block;
  font-size:16px;
  padding:2px;
  padding-left:3px;
  position:relative;
  border:none;
  margin-right:5px;
  z-index:1000;
  float:right;
  transition:all .10s ease-in-out;
  background: none;
}

.menu1{
  position:absolute;
  float:right;
}

.options:hover{
  cursor: pointer;
  color: rgba(150,150,150,1);
}

.tick {
  font-size:18px;
  -webkit-animation: bump 2s infinite;
}


.style2 {
  text-align: center;
  display:block;
  width: 250px;
  margin: 0px auto;
  margin-top:20px;
  transition: display 0.5s ease-in-out;
}

.indicator2 {

  position:relative;
  margin:0 auto;
  width:125px;
  
}

.deftone {
  font-size: 28px;
  font-family:'Seaweed Script', cursive;
}

.style1 {
  position:absolute;
  display:block;
  width:600px;
  margin: 0px auto;
  height:300px;
  left:50%;
  margin-left: -300px;
}

.nopadding{
  padding:0 !important;
  box-shadow: 0 2 2 0px;
}

.indicator {
  position: fixed;
  margin: 0px auto;
  margin-left: -100px;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  z-index:100;
}


.ls{
  display: block;
  width:800px;
  text-align:center;
  margin:0px auto;
}
.photoForm {

}

.nodisplay{
  display: none;
}

.centerbox{
  float: none;
  margin: 0 auto;
}

textarea {
  resize: none;
}
*{
font-family: 'Open Sans', sans-serif;
}
.center-grey{
       background:#f2f2f2;
}
.slider{
  position:relative;
  width:200px;
  left: 50%;
  margin-left:-160px;
}
.slide{
  position:absolute;
  box-shadow: 0px 0px 15px #999;
  margin:0px auto;
  left:50%;
  margin-left:-100px;
}

.test{
  display:block;
  height:200px;
}

/*[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}*/

.jumbotron {
  -webkit-transition:height 5s ease-in-out;
    -moz-transition:height 5s ease-in-out;
    -o-transition:height 5s ease-in-out;
    transition:height 5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1; 
}

[ui-view].ng-leave-active {
  opacity: 0;
}

#titleInput{
  margin-bottom:10px;
}

.row button {
  margin-top: 10px;
}
 
.slide.ng-hide-add, .slide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
  opacity:0;
}
 
.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
