@-webkit-keyframes bump{
  0%, 100% {
    top:0px;
  }
  50%{
    top:8px;
  }
}

.results{
  transition: background 0.08s ease-in-out;
}

.results:hover{
  background: #BDCAE6;
}

.options {
  color: rgba(205,205,205,1);
  display:block;
  font-size:16px;
  padding:2px;
  padding-left:3px;
  position:relative;
  border:none;
  margin-right:5px;
  z-index:1000;
  float:right;
  transition:all .10s ease-in-out;
  background: none;
}

.menu1{
  position:absolute;
  float:right;
}

.options:hover{
  cursor: pointer;
  color: rgba(150,150,150,1);
}

.tick {
  font-size:18px;
  -webkit-animation: bump 2s infinite;
}


.style2 {
  text-align: center;
  display:block;
  width: 250px;
  margin: 0px auto;
  margin-top:20px;
  transition: display 0.5s ease-in-out;
}

.indicator2 {

  position:relative;
  margin:0 auto;
  width:125px;
  
}

.button {
  outline:0;
  border: 1px solid white;
  color: white;
}

.button:hover {
  color: rgba(240,240,240,0.8);
  border: 1px solid rgba(240,240,240,0.8);
  transition: all 0.4s ease-in-out;
}

.videoContainer {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.videoText {
  z-index: 1000;
  text-align: center;
  display: block;
  font-size: 42px;
  font-weight: 200;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  color: rgba(245,245,245,0.9);
  position: absolute;  
  left: 50%;                        /* horizontal alignment */
  top: 50%;                         /* vertical alignment */
  transform: translate(-50%, -50%); 
}

.videoText >* {
  display: block;
}

.videoText .btn {
  width: 200px;
}

.videoContainer video {
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
}

.videoContainer h1 {
  margin: 15px;
  position: absolute;
}

.deftone {
  font-size: 28px;
  font-family:'Seaweed Script', cursive;
}

.style1 {
  position:absolute;
  display:block;
  width:600px;
  margin: 0px auto;
  height:300px;
  left:50%;
  margin-left: -300px;
}

.nopadding{
  padding:0 !important;
  box-shadow: 0 2 2 0px;
}

.indicator {
  position: fixed;
  margin: 0px auto;
  margin-left: -100px;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  z-index:100;
}


.ls{
  display: block;
  width:800px;
  text-align:center;
  margin:0px auto;
}
.photoForm {

}

.nodisplay{
  display: none;
}

.centerbox{
  float: none;
  margin: 0 auto;
}

textarea {
  resize: none;
}
*{
font-family: 'Open Sans', sans-serif;
}
.center-grey{
       background:#f2f2f2;
}
.slider{
  position:relative;
  width:200px;
  left: 50%;
  margin-left:-160px;
}
.slide{
  position:absolute;
  box-shadow: 0px 0px 15px #999;
  margin:0px auto;
  left:50%;
  margin-left:-100px;
}

.test{
  display:block;
  height:200px;
}

/*[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}*/

.jumbotron {
  -webkit-transition:height 5s ease-in-out;
    -moz-transition:height 5s ease-in-out;
    -o-transition:height 5s ease-in-out;
    transition:height 5s ease-in-out;
}

video#bgvid {
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  background: url("https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_284x96dp.png") no-repeat top center; /* replace **image link** with your own file*/
  background-size:cover;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1; 
}

[ui-view].ng-leave-active {
  opacity: 0;
}

#titleInput{
  margin-bottom:10px;
}

.row button {
  margin-top: 10px;
}
 
.slide.ng-hide-add, .slide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
  opacity:0;
}
 
.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.map {
  margin: 0px;
}

.map .optionsContainer{
  width: 60%;
  margin: 0px auto;
  padding: 30px;
  display:flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .videoText {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .videoText {
    font-size: 18px;
  }

  .videoText .btn {
    font-size: 12px;
    width: 100px;
  } 
}

.select-style {
    border: 1px solid #ccc;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
